*{
   box-sizing: border-box;
   /* Largeur de la boîte de contenu : width - (2 * padding) - (2 * border)
      Hauteur de la boîte de contenu : height - (2 * padding) - (2 * border) */
  font-family: 'Raleway', sans-serif; /*font-weight: normal;*/
  max-width: 1350px;
 }
p[class^="titre"]{
  font-weight: 800;
  margin: 0px;
}
h1[class^="titre"]{
  font-weight: 800;
  font-size: 0.75em;
  padding-top: 25px;
  padding-bottom: 5px;
}

img[class^="img_"]{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/* CSS suivant type d'écran */

/* CSS pour écran larg >=980 px xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
@media screen and (min-width: 980px)
{
#hebergements{
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
 }
#bloc_menu,#entete,#recherche_et_filtres,#pied_de_page{
  width: 997px;
}

.grp_cartes_act1{
  padding-right: 20px;
  width: 498.5px;
}
.grp_cartes_act2{
  padding-left: 20px;
  width: 498.5px;
}
#bloc_menu{
  width: auto;
 }
 #activites{
   width: 480px;
 }
.grp_cartes_acts{
  flex-direction: column;
  width: 480px;
 }
.grp_cartes_act1{
  width: 480px;
  }
.grp_cartes_act2{
  width: 480px;
 }
 #pied_de_page{
  width: min-content;
 }
}
/* CSS pour écran larg < 960 px xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

@media screen and (max-width: 960px){
/*
  .grp_cartes_act1{
    padding-right: 0px;
  }

  .grp_cartes_act2{
    padding-left: 0px;
  }
*/
  .choix_heb,.choix_act{
    border-top-style: solid;
    border-color: white;
    border-bottom:none;
    padding-top: 20px;
  }

#recherche{
  width: 298px;
}

  .bloc_filtre_et_criteres{
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    width: auto;
  }
  .parent_i_text_info{
    align-items: flex-end;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
     width: auto;
   }

   .text_info{
     margin-top: 0cm;
   }
   .titre_marseille{
     background-color: #F2F2F2;
   }
 
   .grp_cartes_heb_marseille{
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
     background-color:#F2F2F2;
   }
    .lien_carte_heb{
     margin-right: 15px;
     margin-left: 15px;
     width: 40%;
   }
   .aff_plus{
     background-color: #F2F2F2;
   }
     .parent_titre-pop_et_i{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
   }
/*
  a[class^="lien_carte_act"]{
    width: 220px;
  }
*/


 
#pied_de_page{
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  background-color:white;
}
}
/* XXXXXXXXXX ECRANS LARG > 763 PX XXXXXXXXXX*/
@media screen and (min-width: 763px){
  .grp_cartes_acts{
    flex-direction: row;
    justify-content: space-around;
   }
   .grp_cartes_act1,.grp_cartes_act2{
     justify-content: space-around;
     width: 90%;
   }
   .lien_carte_act1,.lien_carte_act5{
     width: 30%;
   }
   .lien_carte_act2,.lien_carte_act3,.lien_carte_act5,.lien_carte_act6{
     width: 80%;
   }
}
/* XXXXXXXXXX ECRANS LARG >480 ET <= 763 PX XXXXXXXXXX*/
@media screen and (min-width: 480px) and (max-width: 768px){
.grp_cartes_heb_marseille{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.lien_carte_heb{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 40%;
}
.grp_cartes_act1{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: aqua;
}
.grp_cartes_act2{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: rgb(31, 88, 88);
}
.grp_cartes_act1-1{
  align-items: center;
  width: 100%;
}
.grp_cartes_act2-1{
  align-items: center;
  width: 100%;
}
a[class^="lien_carte_act"]{
  width: 90%;
}
}
/* XXXXXXXXXX ECRANS LARG >= 480 px XXXXXXXXXX */
@media screen and (min-width: 480px){
  #entete{
    justify-content: space-between;
   }
  .parent_rech{
    width: 84px;
  }
  #i_loupe{
    display: none;
  }
  .text_filtre{
    margin-left: 8px;
  }
  .parent_i_info{
    margin-bottom: 10px;
  }
  .art_heb_marseille{
    flex-direction: column;
    margin-right: 20px;
    width: 70%;
   }
   .art_heb_pop{
     width: 30%;
   }
   .grp_cartes_act1-1,.grp_cartes_act2-1{
    flex-direction: column;
  }
  .container_img_act1{
    height: 285px;
  }
   .container_img_act2{
    height: 135px; 
   }
  .container_img_act3{
    height: 75px; 
   }
   .container_img_act4{
    height: 285px;
  }
  .container_img_act5{
    height: 100px;
  }
  .container_img_act6{
    height: 110px;
  }
} 
/* XXXXXXXXXX ECRANS LARG <= 479 px XXXXXXXXXX */
@media screen and (max-width: 479px)
{
   #entete{
      flex-direction: column;
      align-items: center;
    }
  .parent_logo{
    justify-content: center;
    align-items: center;
  }
  .nav_types{
    align-items: center;
    }
  .choix_heb,.choix_act{
    border-bottom-style: solid;
    border-color: #F2F2F2;
    border-top:none;
    padding-bottom: 10px;
  }
  .titres_entete{
    align-items: center;
  }
  .titres_entete>h1,.titres_entete>h2{
    width: 70%;
  }
  #recherche_et_filtres{
    justify-content: center;
  }
   #recherche{
    flex-direction: row;
    justify-content: center;
    width: 100%;

   }
.parent_rech{
  width: 18%;
}
  .rech{
    display: none;
  }
   .text_filtre{
    margin-top: 30px;
    margin-left: 20px;
  }
  .bloc_filtre_et_criteres{
   flex-direction: row;
   flex-wrap: wrap;
    width: 100%;
  }
  .parent_i_text_info{
    justify-content: center;
    width: 90%;
   }
   .parent_i_info{
     margin-bottom: 12px;
   }
  .text_info{
    margin-top: 0.1cm;
  }
  #bloc_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 #hebergements{
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 100%;
  }
  .titre_marseille{
    background-color: white;
    width: auto;
  }
  .art_heb_marseille{
    flex-direction: column;
    width: 100%;
    margin-right: 0px;
  }
  .grp_cartes_heb_marseille{
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    background-color:white;
  }
  .lien_carte_heb{
    flex-direction: column;
     align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    width: 80%;
  }
   .container_img_heb,.nom_carte_heb,.tarif_carte_heb,.etoiles_heb{
    box-shadow: 2px 2px 2px 2px #f2f2f2;
  }
  .aff_plus{
    background-color: white;
  }
  .art_heb_pop{
     width: 100%;
  }
  .parent_titre-pop_et_i{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;    
  }
  .grp_cartes_heb_pop{
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

  }
  #activites{

    width: 100%;
  }
  .titre_act{
    text-align: left;
    padding-left: 10%;
  }

  div[class^="grp_cartes_act"]{
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  a[class^="lien_carte_act"]{
    width: 80%;
  }
div[class^="container_img_act"]{
  box-shadow: 2px 2px 2px 2px #F2F2F2;
 height: 75px;  
}
.lien_carte_act{
  box-shadow: 2px 2px 2px 2px #F2F2F2;
}
#pied_de_page{  
  flex-direction: column;
  width: 260px;
  padding-left: 20px;
  background-color: #F2F2F2;
}
.nav_propos,.nav_heb,.nav_ass{
  flex-direction: column;
  margin-left: 0px;
}
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  xxxxxxxxxxxxxxx CSS HORS MEDIA QUERYS pour toute largeur d'écran xxxxxxxxxxxx
  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
 ---- Debut ZONE ENTETE ---- */
 #entete{
   display: flex;
 }
.parent_logo{
  display: flex;
  margin-top: 10px;
  width: 60px;
}
.img_logo{
  margin-left: 40px;
  margin-right: 40px;
}
.nav_types{
  display:flex;
  flex-direction: row;
  padding-bottom: 15px;
}
.choix_heb,.choix_act{
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 0.8em; font-weight: 400;
}

  /* -- la selection .choix_heb,.choix_act:hover ne fonctionne que pour .choix_act
    => décomposition en .choix_heb:hover puis .choix_act:hover -- */
.choix_heb:hover{
  font-weight: 800;
  border-color: #0065FC;
  color: #0065FC;
}
.choix_act:hover{
  font-weight: 800;
  border-color: #0065FC;
  color: #0065FC;
}
/* ---- Debut ZONE TITRES ---- */
.titres_entete{
  display: flex;
  flex-direction: column;
  font-weight: 800;
}
.titres_entete>h1{
  font-size: 1em;
  padding-top: 0px;
}
.titres_entete>h2 {
  font-weight: 400;
  font-size: 0.72em;
  padding-bottom: 22px;
}
/* ---- Debut ZONE RECHERCHE ---- */
#recherche_et_filtres{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#recherche{
  display: flex;
  width: 100%;
}
.bloc_gauche_rech{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 46px;
  width: 223px;
  border-style: solid;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #f2f2f2;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
   background-color: white;
}
.parent_i_loc{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width:45px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #F2F2F2;
}
#i_localisation{
  font-size: 1em;
}
#i_loupe{
  color:white;
  font-size:0.9em;
  padding-top: 2px;
  padding-right: 10px;
}
.saisie_ville{
  display: flex;
  align-items: center;
  height: 42px;
  width: 168px;
}
#nomville{
  border-style:none;
  font-size: 0.9em;
  font-weight:800;
  padding-left: 0.3cm;
  height: 42px;
  width: 100%;
}
.partie_gauche_parent_rech{
  height: 46px;
  width: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #0065FC;
}
.parent_rech{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color:#0065FC;
}
.rech{
  font-size: 13px;
  color:white;
  font-weight: 800;
  padding-right: 0.3cm;
}
/* ---- Debut ZONE FILTRES ----- */
.bloc_criteres{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   margin-top: 0.2cm;
}
#section_filtres_et_info{
  display: flex;
  flex-direction: column;
 
  }
.text_filtre{
  font-size: 0.9em;
  font-weight: 800;
   width:75px;
}
.bloc_filtre_et_criteres{
  display: flex;
}
div[class*="parent_i_text_critere"]{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border:solid 2px;
  border-color:#F2F2F2;
  border-top-left-radius: 19px; border-top-right-radius: 19px;
  border-bottom-left-radius: 19px; border-bottom-right-radius: 19px;
  height: 38px;
  width: fit-content;
  margin-left: 0.3cm;
  margin-bottom: 10px;
}

div[class*="parent_i_text_critere"]:hover{
  box-shadow: 0px 5px 20px #999;
  background-color: #999;
}
 .parent_i_critere{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px; width: 34px;
  border-radius: 17px;
  background-color: #DEEBFF;
}
.parent_i_critere:hover{
  box-shadow: 0px 5px 20px #999;
  background-color: #999;
}
#finance{
  font-size: 13px;
  margin-right: 0.3cm;
  margin-left: 0.3cm;
}
#famille{
  font-size: 17px;
  margin-right: 0.3cm;
  margin-left: 0.3cm;
}
#romantique{
  font-size: 15px;
  margin-right: 0.3cm;
  margin-left: 0.3cm;
}
#animaux{
  font-size: 16px;
  margin-right: 0.3cm;
  margin-left: 0.3cm;
}
p[class^="text_critere"]{
  font-size: 0.8em;
  font-weight: 800;
  margin-left: 0.3cm; margin-right: 0.3cm
 }
 .parent_i_text_info{
  display: flex;
  height: 35px; 
  margin-top: 15px;
  margin-bottom: 15px;
 }
 .parent_i_info{
  display: flex;
  flex-direction: row;
  border:solid 1.5px;
  border-radius: 10px;
  border-color:#F2F2F2;
 }
#info{
  font-size: 9px;
  padding-top: 4px;
  padding-bottom: 5px;
  margin-right: 8px;
  margin-left: 8px;
}
.text_info{
font-size: 0.8em;
font-weight: 400;
padding-left: 0.2cm;  
}
/* ---- Debut ZONE MENU ----- */
 /* ---- Debut ZONE HEBERGEMENTS ---- */
 #hebergements{
   display: flex;
 }
.titre_marseille{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 10%;
}
article[class^="art_heb"]{
  background-color: white;
}
.art_heb_marseille{
 display: flex;
}

.grp_cartes_heb_marseille{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
}
a[class^="lien_carte"]{
  text-decoration: none;
  color:black;
  border: none;
  }

.lien_carte_heb{
  height: 150px;
}

.container_img_heb{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 84px;
  width: 100%;
  padding: 3px;
  background-color: white;
}

.img_carte_heb{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 100%;
}

p[class^="nom_carte"]{
  font-size: 0.7em;
  font-weight: 800;
  margin: 0px;
  padding-left: 10px;   
  padding-top: 4px;
  background-color: white;
}
.lien_carte_pop{
  margin-top: 8px;
  margin-bottom: 8px;
  width: 90%;
}
.nom_carte_pop{
  padding-top: 10px;
}
p[class^="tarif_carte"]{
  font-size: 0.7em;
  margin: 0px;
  padding-left: 10px;
  background-color: white;
}
.tarif_carte_pop{
  padding-bottom: 20px;
}
p[class^="etoiles"]{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0px;
  padding-left: 10px;
  font-size: 1.5em;
  font-weight: 800;
  height: 20px;
  color: #0065FC;
  background-color: white;
}
.etoiles_pop{
  padding-bottom: 3px;
}
.art_heb_pop{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.parent_titre-pop_et_i{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #F2F2F2;
}
.grp_cartes_heb_pop{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 20px;
  background-color: #F2F2F2;
}
.corps_carte_pop{
  display: flex;
  flex-direction: row;
}
.container_img_pop{
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  height: 105px;
  width: 40%;
  padding: 3px;
  background-color: white;
} 
.img_carte_pop{
  border-bottom-left-radius: 0.3cm; border-top-left-radius: 0.3cm;
  height: 100%; width: auto;
}
.bloc_infos_pop{
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  height: 105px;
  width: 60%;
  
  background-color: white;
}
.aff_plus{
  font-size: 0.8em;
  font-weight: 800;
  margin: 0px;
  padding-bottom: 35px;
  padding-left: 20px;
  border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;
}
/* ---- Debut Zone ACTIVITES ---*/
#activites{
  display: flex;
  flex-direction: column;
}
.titre_act{
  padding-top: 30px;
}

div[class^="grp_cartes_act"]{
  display: flex;
}
a[class^="lien_carte_act"]{
  height: fit-content;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
  }
div[class^="container_img_act"]{
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.img_act{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.lieu_carte_act{
  font-size: 0.7em;
  font-weight: 800;
  padding-top: 13px;
  padding-left: 10px;
  padding-bottom: 20px;
  margin: 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: white;
}
/* ---- SECTION PIED DE PAGE ---- */
#pied_de_page{
  display: flex;
  margin-top: 10px;
  width: 100%;
}
a[class^="footer"]{
  text-decoration: none;
  color:black;
  border: none;
  font-weight: 400;
  font-size: 0.75em;
  padding-top: 8px;
}
.nav_propos,.nav_heb,.nav_ass{
  display: flex;  
}
ul[class^="liens_footer"]{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type:none;
  padding: 0px;
  margin: 0px;
}
.liens_footer_3_lgs{
  height: 69px;
}
.liens_footer_2_lgs{
  height: 46px;
}

 
